.gradColors{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
    /* padding-left: 20%;
    padding-right: 20%; */
}
.pad{
    padding-top: 5%;
    padding-bottom: 5%;
}

.input_sing{
    padding: 10%;
}
.cursorLi{
    cursor: pointer;
    padding: 2px;
    font-size: 18px;
}

.tag-a{
    color: #1c7512;
}